concurrent = {{ gl_runner_concurrent }}
{% if gl_runner_log_level != "" %}
log_level = "{{ gl_runner_log_level }}"
{% endif %}
{% if gl_runner_log_format != "" %}
log_level = "{{ gl_runner_log_format }}"
{% endif %}
check_interval = {{ gl_runner_check_interval }}
shutdown_timeout = {{ gl_runner_shutdown_timeout }}

[session_server]
  session_timeout = {{ gl_runner_session_timeout }}

