{% if gl_runner_k8s_volumes is defined %}
[[runners]]
  [runners.kubernetes]
{% for volume in gl_runner_k8s_volumes %}
    [runners.kubernetes.volumes]
      [[runners.kubernetes.volumes.{{ volume.name }}]]
        name = "{{ volume.name }}"
        mount_path = "{{ volume.mount_path }}"
        medium = "{{ volume.medium }}"
{% endfor %}
{% endif %}